.container4 {
    margin-top: 20px;
    width: 100%;
    max-width: 650px;
    background-color: rgb(194, 123, 194);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-content: space-between;
}

.adrese {
    padding: 15px;
    width: 400px;
}

.adrese>a {
    margin: 8px;
}

img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.projekat {
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    margin-left: 50%;
}

.projekat>a {
    text-decoration: none;
}