.container2 {
    margin-top: 20px;
    width: 43vw;
    height: auto;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

.tekst {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    padding: 18px;
    border-radius: 3px;
}

.kod {
    margin: 20px 0;
    padding: 5px;
    background-color: rgb(180, 153, 180);
    color: #fff;
    font-size: 1.125rem;
    border-radius: 5px;
}

.razmak {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(92, 83, 83);
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .container2 {
        width: 62vw;
    }
}

@media screen and (max-width: 540px) {
    .container2 {
        width: 76vw;
    }
}

@media screen and (max-width: 415px) {
    .container2 {
        width: 88vw;
    }
}

@media screen and (max-width: 376px) {
    .container2 {
        width: 96vw;
    }
}

@media screen and (max-width: 281px) {
    .kod {
        word-wrap: break-word;
    }
}